body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
}

.main-header-page {
  display: flex;
  background-color: #928f8f;
  padding: 1rem 0;
}
.main-header-page h6 {
  font-weight: 400;
  padding: 1rem 0;
  display: inline;
}
.main-header-page i {
  color: #535353;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.main-header-page i:hover {
  color: #000000;
}
.main-header-page .icons {
  display: inline;
  margin-left: 45rem;
}

.main-header-2 {
  display: flex;
  margin: 0.5rem 0;
}
.main-header-2 img {
  width: 200px;
}
.main-header-2 h6 {
  color: #928f8f;
  display: block;
}
.main-header-2 a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  display: block;
}
.main-header-2 .cntct-btn-1 {
  margin-left: 10rem;
}
.main-header-2 .cntct-btn {
  padding: 1rem;
  align-items: center;
  display: inline-block;
  border-right: 1px solid #928f8f;
}
.main-header-2 button {
  border: none;
  background-color: #ffb600;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  transition: background-color 1s;
}
.main-header-2 button:hover {
  background-color: #000000;
  color: #ffb600;
}

.main-navbar-wrapp {
  background-color: #212529;
  padding: 1rem 0;
  width: 100%;
  z-index: 10;
}
.main-navbar-wrapp .main-navbar-wrapp.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.main-navbar-wrapp .navbar-toggler-icon {
  background-color: #ffb600;
  padding: 1rem;
}
.main-navbar-wrapp .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.main-navbar-wrapp .dropdown-menu {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.main-navbar-wrapp .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
.main-navbar-wrapp .nav-link {
  color: #ffffff;
  font-weight: 500;
}
.main-navbar-wrapp .nav-link:hover {
  color: #ffb600;
}
.main-navbar-wrapp .nav-search {
  color: #928f8f;
  padding-left: 25rem;
  align-items: center;
}

.main-image-wrapp {
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.main-image-wrapp img {
  width: 100%;
}
.main-image-wrapp .inner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.main-image-wrapp h1 {
  font-weight: 900;
}
.main-image-wrapp a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
}
.main-image-wrapp a:hover {
  color: #ffb600;
}

.main-seccond-para {
  margin: 3rem;
}
.main-seccond-para img {
  width: 100%;
}
.main-seccond-para .seccond-inner {
  text-align: center;
  text-transform: uppercase;
}
.main-seccond-para h1 {
  font-weight: 700;
}
.main-seccond-para .first-row {
  align-items: center;
  justify-content: center;
}
.main-seccond-para h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.main-seccond-para h4 {
  font-size: 1rem;
  color: #928f8f;
}
.main-seccond-para i {
  color: #928f8f;
}

.main-footer-para {
  background-color: #000000;
  padding: 3rem 0;
  font-family: "Open Sans", sans-serif;
  color: #928f8f;
}
.main-footer-para img {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.9rem 1.5rem;
}
.main-footer-para h4 {
  color: #ffffff;
  border-left: 5px solid #ffb600;
  padding-left: 10px;
  font-weight: 700;
  border-radius: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}
.main-footer-para p {
  padding: 1.5rem 0;
}
.main-footer-para .social-icons {
  display: flex;
  gap: 50px;
}
.main-footer-para a {
  display: block;
  text-decoration: none;
  color: #928f8f;
  padding: 0.5rem 0;
  border-bottom: 1px solid #928f8f;
  opacity: 0.5;
  transition: color 1s;
}
.main-footer-para a:hover {
  color: #ffb600;
}

.mainn-last-para {
  background-color: #ffb600;
  padding: 2rem 0;
}
.mainn-last-para .last-inner {
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.mainn-last-para a {
  text-decoration: none;
  color: #000000;
  padding: 0 0.5rem;
  transition: color 1s;
}
.mainn-last-para a:hover {
  color: #ffffff;
}
.mainn-last-para .last-para {
  display: inline;
}
.mainn-last-para .last-para-2 {
  display: inline;
}

@media (max-width: 767px) {
  .main-header-2 .cntct-btn-1 {
    margin-left: 0;
  }
  .main-header-2 img {
    height: 35px;
    width: auto;
    display: block;
    margin-left: 5rem;
  }
  .main-header-2 .cntct-btn {
    border-right: none;
  }
  .main-header-page .icons {
    margin-left: 4rem;
    display: block;
  }
  .main-header-page .main-header-inner {
    margin-left: 3rem;
  }
  .main-img-wrapp h1 {
    font-size: 1.25rem;
  }
  .main-img-wrapp h2 {
    font-size: 1.5rem;
  }
  .main-img-wrapp p {
    font-size: 0.6rem;
  }
  .main-img-wrapp .third-heading {
    font-size: 1rem;
  }
  .main-img-wrapp .carousel-control-prev {
    display: none;
  }
  .main-img-wrapp .carousel-control-next {
    display: none;
  }
  .main-img-wrapp .third-about {
    font-size: 1.5rem;
  }
  .main-img-wrapp .btn-onee {
    margin-left: 0;
  }
  .main-img-wrapp strong {
    font-size: 0.75rem;
  }
  .main-img-wrapp .quote {
    text-align: center;
    position: absolute;
    bottom: -15%;
  }
  .main-img-wrapp .about-info-3 {
    position: absolute;
    right: 2%;
    width: 100%;
  }
  .main-seccond-para .icon-1 {
    margin-left: 12rem;
  }
  .main-seccond-para .icon-2 {
    margin-left: 5.5rem;
  }
  .main-seccond-para .icon-3 {
    margin-left: 10.5rem;
  }
  .main-third-para img {
    margin-left: 12rem;
  }
  .main-fourth-para h5 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .main-fourth-para p {
    font-size: 1.5rem;
  }
  .main-fourth-para img {
    width: 50%;
  }
  .main-eigth-para button {
    margin-left: 0;
  }
}/*# sourceMappingURL=people.css.map */