body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
}

.main-header-page {
  display: flex;
  background-color: #928f8f;
  padding: 1rem 0;
}
.main-header-page h6 {
  font-weight: 400;
  padding: 1rem 0;
  display: inline;
}
.main-header-page i {
  color: #535353;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.main-header-page i:hover {
  color: #000000;
}
.main-header-page .icons {
  display: inline;
  margin-left: 45rem;
}

.main-navbar-wrapp {
  background-color: #ffffff;
  padding: 2rem 0;
  text-align: end;
  align-items: center;
  width: 100%;
  z-index: 10;
}
.main-navbar-wrapp .main-navbar-wrapp.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.main-navbar-wrapp .navbar-toggler-icon {
  background-color: #ffb600;
  padding: 1rem;
}
.main-navbar-wrapp .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.main-navbar-wrapp .dropdown-menu {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  border-radius: 0;
  border: none;
  visibility: hidden;
}
.main-navbar-wrapp .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
.main-navbar-wrapp .btn {
  background-color: #ffb600;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 600;
  margin-left: 1.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 1s;
}
.main-navbar-wrapp .btn:hover {
  background-color: #000000;
  color: #ffb600;
}
.main-navbar-wrapp .nav-link {
  color: #000000;
  font-weight: 500;
  padding-top: 1rem;
  text-align: end;
}
.main-navbar-wrapp .nav-link:hover {
  color: #ffb600;
}
.main-navbar-wrapp .nav-search {
  color: #928f8f;
  padding-left: 25rem;
  align-items: center;
}
.main-navbar-wrapp img {
  width: 200px;
}

.main-image-wrapp {
  font-family: "Open Sans", sans-serif;
}
.main-image-wrapp img {
  width: 100%;
}
.main-image-wrapp .btn {
  background-color: #ffb600;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
  margin-left: 1.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 1s;
}
.main-image-wrapp .btn:hover {
  background-color: #000000;
  color: #ffb600;
}
.main-image-wrapp h6 {
  font-weight: lighter;
  font-size: 1rem;
}
.main-image-wrapp p {
  text-transform: lowercase;
  width: 75%;
}
.main-image-wrapp .about-section {
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  padding: 3rem 0 3rem 1rem;
}
.main-image-wrapp .image-info {
  background-color: #212529;
  color: #ffffff;
  padding: 2rem 0;
}
.main-image-wrapp .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-image-wrapp h3 {
  display: inline;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.main-image-wrapp a {
  margin-left: 5rem;
  text-transform: uppercase;
}

.main-cards-wrapp {
  margin: 5rem 0;
  font-family: "Open Sans", sans-serif;
}
.main-cards-wrapp .card-inner {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.main-cards-wrapp .main-img {
  width: 100%;
}
.main-cards-wrapp a {
  color: #000000;
  text-decoration: none;
}

.main-counter-para {
  font-family: "Open Sans", sans-serif;
  background-color: #212529;
}
.main-counter-para .counter-class {
  text-align: center;
  padding: 3rem 0;
}
.main-counter-para img {
  width: 60px;
  display: block;
  margin-left: 6.5rem;
}
.main-counter-para strong {
  color: #ffffff;
  font-size: 2.5rem;
}
.main-counter-para h3 {
  color: #ffb600;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.main-third-para {
  font-family: "Open Sans", sans-serif;
  padding: 5rem 0;
}
.main-third-para .col-one {
  padding: 2rem 0;
}
.main-third-para .third-heading {
  text-align: center;
  margin: 3rem 0;
}
.main-third-para h3 {
  text-transform: uppercase;
  color: #928f8f;
  font-size: 1.15rem;
  font-weight: 400;
}
.main-third-para h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.main-third-para h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.main-third-para p {
  color: #928f8f;
}
.main-third-para img {
  width: 100%;
}
.main-third-para .main-img {
  width: 100%;
}

.main-fourth-para {
  font-family: "Open Sans", sans-serif;
  padding: 5rem 0;
}
.main-fourth-para .fourth-top {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.main-fourth-para h3 {
  font-weight: 400;
  color: #928f8f;
}
.main-fourth-para h1 {
  font-weight: 700;
}
.main-fourth-para img {
  width: 100%;
}
.main-fourth-para .nav-link {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}
.main-fourth-para .nav-link:hover {
  color: #000000;
}
.main-fourth-para .project-btn {
  text-align: center;
  margin: 2rem 0;
}
.main-fourth-para a {
  text-decoration: none;
  background-color: #ffb600;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-size: 0.75rem;
  transition: background-color 1s;
  font-weight: 700;
  text-transform: uppercase;
}
.main-fourth-para a:hover {
  color: #ffb600;
  background-color: #000000;
}
.main-fourth-para .nav-item {
  border-bottom: 2px solid #ffb600;
  border-radius: none;
}
.main-fourth-para .nav-pills .nav-link.active {
  background-color: #ffb600;
  color: #000000;
  text-transform: uppercase;
  border-radius: 0;
}
.main-fourth-para .box {
  position: relative;
}
.main-fourth-para .box-content {
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 70%;
  opacity: 0;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.main-fourth-para .box:hover .box-content {
  opacity: 1;
  top: 50%;
}
.main-fourth-para .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.623);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in;
}
.main-fourth-para .box:hover::after {
  opacity: 1;
}
.main-fourth-para i {
  content: "";
  background-color: #ffb600;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25rem;
  padding: 0.75rem;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.main-fourth-para .box:hover i {
  opacity: 1;
  z-index: 3;
}
.main-fourth-para h4 {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.5s;
}
.main-fourth-para h4:hover {
  color: #ffb600;
}
.main-fourth-para h6 {
  font-size: 0.5rem;
  background-color: #ffb600;
  padding: 0.5rem 0.25rem;
  display: inline;
}

.main-sixth-para {
  margin: 5rem 0;
  font-family: "Open Sans", sans-serif;
}
.main-sixth-para .carousel-indicators .active {
  background-color: #ffb600;
  opacity: 1;
}
.main-sixth-para h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.main-sixth-para .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  border: none;
  opacity: 0.5;
  margin: 0.5rem;
}
.main-sixth-para i {
  color: #ffb600;
  font-size: 2.5rem;
  font-style: italic;
  text-align: end;
}
.main-sixth-para p {
  font-style: italic;
}
.main-sixth-para img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-sixth-para .person-1 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 3rem;
}
.main-sixth-para h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffb600;
  text-transform: uppercase;
}
.main-sixth-para small {
  font-size: 1rem;
}
.main-sixth-para .image-1 {
  max-width: 180px;
  max-height: 200px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #928f8f;
  padding: 1.35rem 0.5rem;
  border-radius: 0;
}
.main-sixth-para .image-2 {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #928f8f;
  padding: 0.85rem 1rem;
  border-radius: 0;
}
.main-sixth-para .image-3 {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #928f8f;
  padding: 0.9rem 1rem;
  border-radius: 0;
}
.main-sixth-para .image-4 {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #928f8f;
  padding: 0.9rem 1rem;
  border-radius: 0;
}
.main-sixth-para .image-5 {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #928f8f;
  padding: 0.9rem 2rem;
  border-radius: 0;
}
.main-sixth-para .image-6 {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #928f8f;
  padding: 0.9rem 1.5rem;
  border-radius: 0;
}

.main-seventh-para {
  display: flex;
}
.main-seventh-para .left-section {
  background-color: #ffb600;
  flex: 1 0 33.333%;
  padding: 20px 0;
  text-align: center;
}
.main-seventh-para .left-section .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-seventh-para .left-section h3 {
  color: #000;
}
.main-seventh-para .left-section h4 {
  color: #ffffff;
}
.main-seventh-para .right-section {
  background-color: #212529;
  flex: 1 0 66.666%;
  padding: 20px 0;
}
.main-seventh-para .right-section .container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-seventh-para .right-section .newsletter-introtext h4, .main-seventh-para .right-section .newsletter-introtext p {
  color: #fff;
  text-transform: uppercase;
}
.main-seventh-para .right-section .newsletter-form input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 70%;
  color: #ffffff;
  border-radius: 0;
  background-color: #212529;
}

.main-eigth-para {
  margin: 5rem 0;
  font-family: "Open Sans", sans-serif;
}
.main-eigth-para .eigth-inner {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.main-eigth-para h1 {
  font-weight: 800;
}
.main-eigth-para img {
  width: 100%;
}
.main-eigth-para p {
  font-size: 1.25rem;
}
.main-eigth-para h6 {
  color: #928f8f;
}
.main-eigth-para button {
  text-decoration: none;
  background-color: #ffb600;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  margin-left: 30rem;
}

.main-footer-para {
  background-color: #000000;
  padding: 3rem 0;
  font-family: "Open Sans", sans-serif;
  color: #928f8f;
}
.main-footer-para img {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.9rem 1.5rem;
}
.main-footer-para h4 {
  color: #ffffff;
  border-left: 5px solid #ffb600;
  padding-left: 10px;
  font-weight: 700;
  border-radius: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}
.main-footer-para p {
  padding: 1.5rem 0;
}
.main-footer-para .social-icons {
  display: flex;
  gap: 50px;
}
.main-footer-para a {
  display: block;
  text-decoration: none;
  color: #928f8f;
  padding: 0.5rem 0;
  border-bottom: 1px solid #928f8f;
  opacity: 0.5;
  transition: color 1s;
}
.main-footer-para a:hover {
  color: #ffb600;
}

.mainn-last-para {
  background-color: #ffb600;
  padding: 2rem 0;
}
.mainn-last-para .last-inner {
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.mainn-last-para a {
  text-decoration: none;
  color: #000000;
  padding: 0 0.5rem;
  transition: color 1s;
}
.mainn-last-para a:hover {
  color: #ffffff;
}
.mainn-last-para .last-para {
  display: inline;
}
.mainn-last-para .last-para-2 {
  display: inline;
}

@media (max-width: 767px) {
  .main-header-page .icons {
    margin-left: 4rem;
    display: block;
  }
  .main-header-page .main-header-inner {
    margin-left: 3rem;
  }
  .main-navbar-wrapp .nav-link {
    text-align: start;
  }
  .main-image-wrapp .about-section {
    width: 80%;
    position: absolute;
    top: 15%;
    padding: 10px;
  }
  .main-image-wrapp .about-section h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  .main-image-wrapp .about-section h6 {
    font-size: 0.5rem;
  }
  .main-image-wrapp .about-section p {
    font-size: 0.75rem;
    font-family: "Times New Roman", Times, serif;
  }
  .main-image-wrapp .about-section .btn {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .main-counter-para img {
    margin-left: 12rem;
  }
  .main-third-para h5 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .main-third-para p {
    font-size: 1.5rem;
  }
  .main-third-para img {
    width: 50%;
  }
  .main-eigth-para button {
    margin-left: 0;
  }
}/*# sourceMappingURL=theme-2.css.map */